.color{
	width:auto;
	text-align:center;
}
.moustaches{
	background:url(tapes/moustache.jpg) repeat-x;
}
.fire{
	background:url(tapes/fire.jpg) repeat-x;
}
.spiders{
	background:url(tapes/spiders.jpg) repeat-x;
}
.spiderman{
	background:url(tapes/spiderman.jpg) repeat-x;
}
.skulls{
	background:url(tapes/skulls.jpg) repeat-x;
}
.penguin{
	background:url(tapes/penguin.jpg) repeat-x;
}
.rainbow{
	background:url(tapes/rainbow.jpg) repeat-x;
}
.bieber{
	background:url(tapes/bieber.jpg) repeat-x;
}
.lips{
	background:url(tapes/lips.jpg) repeat-x;
}
.floral{
	background:url(tapes/floral.jpg) repeat-x;
}
.darkstripes{
	background:url(tapes/darkstripes.jpg) repeat-x;
}
.pickles{
	background:url(tapes/pickles.jpg) repeat-x;
}
.greensquiggles{
	background:url(tapes/greensquiggles.jpg) repeat-x;
}
.table tr td{
	vertical-align: middle;
}
.r_sort{
	display:none;
}