body{
	background-color: #EEE;
    padding: 
    50px;
}
.btn-block{
	padding: 5px;
}
.tape{
	min-height: 40px;
}
#tape_preview{
	height: 55px;
	background-color: #EEE;
}
.color{
	width:auto;
	text-align:center;
}
.moustaches{
	background:url(tapes/moustache.jpg) repeat-x;
}
.fire{
	background:url(tapes/fire.jpg) repeat-x;
}
.spiders{
	background:url(tapes/spiders.jpg) repeat-x;
}
.spiderman{
	background:url(tapes/spiderman.jpg) repeat-x;
}
.skulls{
	background:url(tapes/skulls.jpg) repeat-x;
}
.penguin{
	background:url(tapes/penguin.jpg) repeat-x;
}
.rainbow{
	background:url(tapes/rainbow.jpg) repeat-x;
}
.bieber{
	background:url(tapes/bieber.jpg) repeat-x;
}
.lips{
	background:url(tapes/lips.jpg) repeat-x;
}
.floral{
	background:url(tapes/floral.jpg) repeat-x;
}
.darkstripes{
	background:url(tapes/darkstripes.jpg) repeat-x;
}
.pickles{
	background:url(tapes/pickles.jpg) repeat-x;
}
.greensquiggles{
	background:url(tapes/greensquiggles.jpg) repeat-x;
}
.color{
	border: 1px solid #ccc;
	border-radius: 4px;
}
.table tr td{
	vertical-align: middle !important;
}
.r_sort{
	display:none;
}
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
@media (max-width: 767px){
.visible-xs {
display: inline-block!important;
}
}
.hidden-xs {
	display: inline !important;
}