{% macro action_button(id,class,status="none",page,voted)-%}
<div class="btn-group btn-block action">
    <button type="button" class="btn {{class}} btn-block dropdown-toggle" data-toggle="dropdown">
        {{status}} <span class="caret">
    </span>
</button>
<ul class="dropdown-menu" role="menu" style="right:0;left:auto;">
    {% if status == "Sent" %}
    <li>
        <a data-id= "{{id}}" href="/unsend/{{id}}/{{page}}"><i class="fa fa-check-circle fa-lg fa-fw green"></i></span>Unmark Sent</a>
    </li>
    {% elif status == "Attempted" %}
    <li>
        <a data-id= "{{id}}" href="/send/{{id}}/{{page}}"><i class="fa fa-check-circle-o fa-lg fa-fw green"></i>Mark Sent</a>
    </li>
    <li>
        <a data-id= "{{id}}" href="/unattempt/{{id}}/{{page}}"><i class="fa fa-check-circle fa-lg fa-fw yellow"></i></span>Unmark Attempted</a>
    </li>
    {% else %}
    <li>
        <a data-id= "{{id}}" href="/send/{{id}}/{{page}}"><i class="fa fa-check-circle-o fa-lg fa-fw green"></i></i>Mark Sent</a>
    </li>
    <li>
        <a data-id= "{{id}}" href="/attempt/{{id}}/{{page}}"><i class="fa fa-check-circle-o fa-lg fa-fw yellow"></i></i>Mark Attempted</a>
    </li>
    {% endif %}
    <li class="divider">
    </li>
    {% if voted == "True" %}
    <li>
        <a data-id= "{{id}}" href="/comm/unvote/{{id}}/{{page}}"><i class="fa fa-thumbs-up fa-lg fa-fw green"></i>Unrequest Removal</a>
    </li>
    {% else %}
    <li>
        <a data-id= "{{id}}" href="/comm/vote/{{id}}/{{page}}"><i class="fa fa-thumbs-down fa-lg fa-fw red"></i>Request Removal</a>
    </li>
    {% endif %} {% if session.is_admin %}
    <li class="divider">
    </li>
    <li>
        <a data-id= "{{id}}" href="/edit/{{id}}"><i class="fa fa-pencil fa-lg fa-fw"></i>Edit Route</a>
    </li>
    <li>
        <a data-id= "{{id}}" href="/delete/{{id}}/{{page}}"><i class="fa fa-times fa-lg fa-fw red"></i>Delete Route</a>
    </li>
    {% endif %}
</ul>
</div>
{%- endmacro %}
{% macro action_icon(id,class,status="none",page,voted)-%}
{% if status == "Sent" %}

<a data-id="{{id}}" class="unsend"><i class="fa fa-lg fa-fw green"></i></a>

{% elif status == "Attempted" %}

<a data-id="{{id}}" class="send"><i class="fa fa-lg fa-fw green"></i></a>

<a data-id="{{id}}" class="unattempt"><i class="fa fa-lg fa-fw yellow"></i></a>

{% else %}

<a data-id="{{id}}" class="send"><i class="fa fa-lg fa-fw green"></i></a>

<a data-id="{{id}}" class="attempt"><i class="fa fa-lg fa-fw yellow"></i></a>

{% endif %}


{% if voted == "True" %}

<a data-id="{{id}}" class="unvote"><i class="fa fa-lg fa-fw red"></i></a>

{% else %}

<a data-id="{{id}}" class="vote"><i class="fa fa-lg fa-fw red"></i></a>

{% endif %} {% if session.is_admin %}



<a href="/edit/{{id}}"><i class="fa fa-pencil fa-lg fa-fw"></i></a>


<a href="/delete/{{id}}/{{page}}"><i class="fa fa-times fa-lg fa-fw red"></i></a>

{% endif %}

{%- endmacro %} {% macro setter(name)-%}
<option value="{{name}}">{{name}}</option>
{%- endmacro %} {% macro color(css,real) -%}
<option value="{{css}}">{{real}}</option>
{% endmacro -%}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - GV Climb</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='jdpicker.css')}}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{url_for('static', filename='tablesorter_styles.css')}}" type="text/css" media="screen" />
    <style type="text/css">
    {% block css %}
    {% endblock %}
    </style>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
</script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js">
</script>
<![endif]-->
{% block head %} {% endblock %}

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand" href="/">GV Climb</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if request.path == "/" %}
                    <li class="visible-xs">
                        <a class="scroll" data-scrollto="toprope" data-toggle="collapse" data-target=".navbar-collapse">Toprope</a>
                  </li>
                  <li class="hidden-xs">
                      <a class="scroll" data-scrollto="toprope">Toprope</a>
                  </li>
                  <li class="visible-xs">
                        <a class="scroll" data-scrollto="boulder" data-toggle="collapse" data-target=".navbar-collapse">Boulder</a>
                  </li>
                  <li class="hidden-xs">
                      <a class="scroll" data-scrollto="boulder">Boulder</a>
                  </li>
                  {% endif %} {% if request.path == "/profile" %}
                  <li>
                    <a href="#sent" class="active">Sent</a>
                </li>
                <li>
                    <a href="#attempted">Attempted</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {% if request.path=="/comm" %} class="active" {%endif%}>
                    <a href="{{url_for('comm')}}" alt="Route Comm." title="Route Comm.">
                        <i class="fa fa-comment fa-lg fa-fw"></i>
                        <!-- <span class="visible-xs">Route Comm.</span>
                        {% if request.path == "/comm" %}
                        <span class="hidden-xs" style="inline-block">Route Comm.</span>
                        {%endif%} -->
                        Route Comm
                    </a>
                </li>
                {% if session.logged_in %} {% if session.is_admin %}
                <li {% if request.path=="/add" %} class="active" {%endif%}>
                    <a href="{{url_for('add')}}" alt="Add Route" title="Add Route">

                        <i class="fa fa-plus fa-lg fa-fw"></i>
                        <!-- <span class="visible-xs">Add Route</span>
                        {% if request.path == "/add" %}
                        <span class="hidden-xs">Add Route</span>
                        {%endif%} -->
                        Add Route
                    </a>
                </li>
                <li {% if request.path=="/admin" %} class="active" {%endif%}>
                    <a href="{{url_for('admin')}}" alt="Administration" title="Administration">
                        <i class="fa fa-cog fa-lg fa-fw"></i>
                        <!-- <span class="visible-xs">Administration</span>
                        {% if request.path == "/admin" %}
                        <span class="hidden-xs" style="inline-block">Administration</span>
                        {%endif%} -->
                        Admin
                    </a>
                </li>
                {% endif %}
                <li {% if request.path=="/profile" %} class="active" {%endif%}>
                    <a href="{{url_for('profile')}}" alt="Logged in as {{ session.logged_in_as }}" title="Logged in as {{ session.logged_in_as }}">
                        <i class="fa fa-user fa-lg fa-fw"></i>
                        <!-- <span class="visible-xs">{{session.logged_in_as}}</span>
                        {% if request.path == "/profile" %}
                        <span class="hidden-xs">{{session.logged_in_as}}</span>
                        {%endif%} -->
                        {{session.logged_in_as}}
                    </a>
                </li>
                <li>
                    <a href="{{url_for('logout')}}" alt="Logout" title="Logout">
                        <span class="glyphicon glyphicon-off">
                        </span>
                        <!-- <span class="visible-xs">Logout</span> -->
                        Logout
                    </a>

                </li>
            </div>
            {% else %}
            <li class="visible-xs">

                <a href="{{ url_for('login') }}">
                    <i class="fa fa-user fa-fw"></i>
                    Login
                </a>
                <a href="{{ url_for('register') }}">
                    <i class="fa fa-share fa-fw"></i>
                    Register
                </a>
            </li>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="dropdown" id="menuLogin">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <i class="fa fa-user"></i>
                        Login
                        <span class="caret">
                        </span>
                    </button>
                    <div class="dropdown-menu" style="width:250px; padding:20px;">
                        <form class="form" role="form" action="{{ url_for('login') }}" method="POST">
                            <div class="form-group">
                                <input class="form-control" name="username" id="username" type="text" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="password" id="password" type="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btnLogin" class="btn btn-success">Login</button>
                                <a href="{{ url_for('register') }}" class="btn btn-success">New User?</a>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>

            {% endif %}
        </ul>


    </div>
    <!--/.nav-collapse -->

</div>

</div>
<a id="top">
</a>
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='cookie.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='jdpicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='jquery.tablesorter.min.js')}}"></script>
<script type="text/javascript">
function addClasses(){
    $('.unsend, .unattempt').children().addClass('fa-check-circle');
    $('.send, .attempt').children().addClass('fa-check-circle-o');
    $('.vote').children().addClass('fa-thumbs-o-down');
    $('.unvote').children().addClass('fa-thumbs-down');
}
function bindClicks(){

    $('.scroll').click(function(){
        var scrollTo = '#' + $(this).data('scrollto');
        scrollToElem(scrollTo);
    });

    $('.unsend').click(function(){
        var id = $(this).data('id');
        $.ajax("/unsend/" + id + "/home");
        $(this).removeClass('unsend').addClass('send');
        $(this).children().removeClass('fa-check-circle').addClass('fa-check-circle-o');
        bindClicks();
    });
    $('.send').click(function(){
        var id = $(this).data('id');
        $.ajax("/send/" + id + "/home");
        $(this).removeClass('send').addClass('unsend');
        $(this).children().removeClass('fa-check-circle-o').addClass('fa-check-circle');
        bindClicks();
    });
    $('.attempt').click(function(){
        var id = $(this).data('id');
        $.ajax("/attempt/" + id + "/home");
        $(this).removeClass('attempt').addClass('unattempt');
        $(this).children().removeClass('fa-check-circle-o').addClass('fa-check-circle');
        bindClicks();
    });
    $('.unattempt').click(function(){
        var id = $(this).data('id');
        $.ajax("/unattempt/" + id + "/home");
        $(this).removeClass('unattempt').addClass('attempt');
        $(this).children().removeClass('fa-check-circle').addClass('fa-check-circle-o');
        bindClicks();
    });
    $('.vote').click(function(){
        var id = $(this).data('id');
        $.ajax("/comm/vote/" + id + "/home");
        $(this).removeClass('vote').addClass('unvote');
        $(this).children().removeClass('fa-thumbs-o-down').addClass('fa-thumbs-down');
        bindClicks();
    });
    $('.unvote').click(function(){
        var id = $(this).data('id');
        $.ajax("/comm/unvote/" + id + "/home");
        $(this).removeClass('unvote').addClass('vote');
        $(this).children().removeClass('fa-thumbs-down').addClass('fa-thumbs-o-down');
        bindClicks();
    });
}
bindClicks();
addClasses();

function scrollToElem(e){
    $('html, body').animate({
    scrollTop: $(e).offset().top-50
}, 500);
}

if ($(".action").length > 6) {
    $(".action").slice(-4).addClass("dropup");
}
$('.dropdown-menu *').click(function(e) {
    e.stopPropagation();
});
{% block scripts %} {% endblock %}
</script>
</body>