{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<a id="sent"></a>
<h2>Sent <small class="visible-xs">Tap to expand</small></h2>
<div class="tablesorter hidden-xs">
	<table class="table" id="table_sent">
		<tr>
			<th width="5%">Rating</th>
			<th width="5%">Rope</th>
			<th width="35%">Name</th>
			<th width="10%">Date Set</th>
			<th width="20%">Setter</th>
			<th width="15%">Tape</th>
			{% if session.logged_in %}
			<th width="10%">Actions</th>
			{% endif %}

		</tr>
		{% for route in sent %}
		<tr>
			{% if route.route_type == 'toprope' %}<td>{{ '5.' + route.rating }}</td>{% endif %}
			{% if route.route_type == 'boulder' %}<td> {{route.rating }}</td>{% endif %}
			<td>{{ route.rope }}</td>
			<td>{{ route.name }}</td>
			<td>{{ route.dateSet }}</td>
			<td>{{ route.setter }}</td>
			<td>{{ route.tape_div|safe }}</td>
			{% if session.logged_in %}
			<td>{{ action_button(route.id,route.btn_class,route.status,'profile', route.voted) }}</td>
			{% endif %}

		</tr>
		{% else %}
		{% endfor %}
	</table>
</div>
<div class="visible-xs panel-group" id="sent">
	{% if session.logged_in %}
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;">
				<i class="fa fa-lg fa-fw green fa-check-circle"></i><small>Send</small>
				<i class="fa fa-lg fa-fw yellow fa-check-circle"></i><small>Attempt</small>
				<i class="fa fa-lg fa-fw red fa-thumbs-o-down"></i><small>Request Removal</small>
				{% if session.is_admin %}
				<br>
				<i class="fa fa-lg fa-fw fa-pencil" style="color: #007fff"></i><small>Edit</small>
				<i class="fa fa-lg fa-fw fa-times red"></i><small>Delete</small>
				{% endif %}
			</div>

		</div>
	</div>
	<br>
	{% endif %}
	{% for route in sent %}
	<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" data-toggle="collapse" data-parent="#sent" href="#route_{{route.id}}">
					{{ route.name }}
			</h3>
		</div>
		<div id="route_{{route.id}}" class="panel-collapse collapse">
			<div class="panel-body">
				<p>{{ route.tape_div|safe }}</p>
				<hr>
				<p>Rating: <span class="pull-right">{% if route.route_type == 'toprope' %}{{ '5.' + route.rating }}{% endif %}
			{% if route.route_type == 'boulder' %}{{route.rating }}{% endif %}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
				<hr>
			</div>
		</div>
		
		<div class="panel-footer">
			{% if route.route_type == 'toprope' %}{{ '5.' + route.rating }}{% endif %}
			{% if route.route_type == 'boulder' %}{{route.rating }}{% endif %}, Rope {{route.rope}}{% if session.logged_in %}<span class="pull-right">{{ action_icon(route.id,route.btn_class,route.status,'home', route.voted) }}{% endif %}</span>
		</div>
		
	</div>
</div>
{% endfor %}
</div>
<a id="attempted"></a>
<h2>Attempted <small class="visible-xs">Tap to expand</small></h2>
<div class="tablesorter hidden-xs">
	<table class="table" id="table_attempted">
		<thead>
		<tr>
			<th width="5%">Rating</th>
			<th width="5%">Rope</th>
			<th width="35%">Name</th>
			<th width="10%">Date Set</th>
			<th width="20%">Setter</th>
			<th width="15%">Tape</th>
			{% if session.logged_in %}
			<th width="10%">Actions</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for route in attempted %}
		<tr>
			{% if route.route_type == 'toprope' %}<td>{{ '5.' + route.rating }}</td>{% endif %}
			{% if route.route_type == 'boulder' %}<td> {{route.rating }}</td>{% endif %}
			<td>{{ route.rope }}</td>
			<td>{{ route.name }}</td>
			<td>{{ route.dateSet }}</td>
			<td>{{ route.setter }}</td>
			<td>{{ route.tape_div|safe }}</td>
			{% if session.logged_in %}
			<td>{{ action_button(route.id,route.btn_class,route.status,'profile', route.voted) }}</td>
			{% endif %}
			
		</tr>
		{% else %}
		{% endfor %}
	</tbody>
	</table>
</div>

<div class="visible-xs panel-group" id="attempted">
	{% if session.logged_in %}
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;">
				<i class="fa fa-lg fa-fw green fa-check-circle"></i><small>Send</small>
				<i class="fa fa-lg fa-fw yellow fa-check-circle"></i><small>Attempt</small>
				<i class="fa fa-lg fa-fw red fa-thumbs-o-down"></i><small>Request Removal</small>
				{% if session.is_admin %}
				<br>
				<i class="fa fa-lg fa-fw fa-pencil" style="color: #007fff"></i><small>Edit</small>
				<i class="fa fa-lg fa-fw fa-times red"></i><small>Delete</small>
				{% endif %}
			</div>

		</div>
	</div>
	<br>
	{% endif %}
	{% for route in attempted %}
	<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" data-toggle="collapse" data-parent="#attempted" href="#route_{{route.id}}">
					{{ route.name }}
			</h3>
		</div>
		<div id="route_{{route.id}}" class="panel-collapse collapse">
			<div class="panel-body">
				<p>{{ route.tape_div|safe }}</p>
				<hr>
				<p>Rating: <span class="pull-right">{% if route.route_type == 'toprope' %}{{ '5.' + route.rating }}{% endif %}
			{% if route.route_type == 'boulder' %}{{route.rating }}{% endif %}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
				<hr>
			</div>
		</div>
		
		<div class="panel-footer">
			{% if route.route_type == 'toprope' %}{{ '5.' + route.rating }}{% endif %}
			{% if route.route_type == 'boulder' %}{{route.rating }}{% endif %}, Rope {{route.rope}}{% if session.logged_in %}<span class="pull-right">{{ action_icon(route.id,route.btn_class,route.status,'home', route.voted) }}{% endif %}</span>
		</div>
		
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
{%block scripts %}
if ( $.cookie("scroll") !== null )
    {
      $(document).scrollTop( $.cookie("scroll") );
   }
   $(window).on("scroll", function()
   {
     $.cookie("scroll", $(document).scrollTop() );
   });
{%endblock %}
