{% extends "base.html" %}

{% macro action_button(id,class,status,page)-%}
<div class="btn-group btn-block">
  <button type="button" class="btn {{class}} btn-block dropdown-toggle" data-toggle="dropdown">
    {{status}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  	{% if status == "Sent" %}
    <li><a href="/unsend/{{id}}/{{page}}">Unmark Sent</a></li>
    {% else %}
    <li><a href="/send/{{id}}/{{page}}">Mark Sent</a></li>
    {% endif %}
    {% if status == "Attempted" %}
    <li><a href="/unattempt/{{id}}/{{page}}">Unmark Attempted</a></li>
    {% endif %}
    {% if status == "none" %}
    <li><a href="/send/{{id}}/{{page}}">Mark Sent</a></li>
    <li><a href="/attempt/{{id}}/{{page}}">Mark Attempted</a></li>
    {% endif %}
    
    {% if session.is_admin %}
    <li class="divider"></li>
    <li><a href="/edit/{{id}}">Edit Route</a></li>
    <li><a href="/delete/{{id}}/{{page}}">Delete Route</a></li>
    {% endif %}
  </ul>
</div>
{%- endmacro %}

{% block title %}Home{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<a id="sent"></a>
<h2>Sent</h2>
<div class="table-responsive">
	<table class="table">
		<tr>
			<th width="35%">Name</th>
			<th width="5%">Rope</th>
			<th width="5%">Rating</th>
			<th width="10%">Date Set</th>
			<th width="20%">Setter</th>
			<th width="15%">Tape</th>
			{% if session.logged_in %}
			<th width="10%">Actions</th>
			{% endif %}

		</tr>
		{% for route in sent %}
		<tr>
			<td>{{ route.name }}</td>
			<td>{{ route.rope }}</td>
			<td>{{ '5.' + route.rating }}</td>
			<td>{{ route.dateSet }}</td>
			<td>{{ route.setter }}</td>
			<td>{{ route.tape_div|safe }}</td>
			{% if session.logged_in %}
			<td>{{ action_button(route.id,route.btn_class,route.status,'profile') }}</td>
			{% endif %}

		</tr>
		{% else %}
		{% endfor %}
	</table>
</div>
<a id="attempted"></a>
<h2>Attempted</h2>
<div class="table-responsive">
	<table class="table">

		<tr>
			<th width="35%">Name</th>
			<th width="5%">Rope</th>
			<th width="5%">Rating</th>
			<th width="10%">Date Set</th>
			<th width="20%">Setter</th>
			<th width="15%">Tape</th>
			{% if session.logged_in %}
			<th width="10%">Actions</th>
			{% endif %}
		</tr>
		{% for route in attempted %}
		<tr>
			
			<td>{{ route.name }}</td>
			<td>{{ route.rope }}</td>
			<td>{{ route.rating }}</td>
			<td>{{ route.dateSet }}</td>
			<td>{{ route.setter }}</td>
			<td>{{ route.tape_div|safe }}</td>
			{% if session.logged_in %}
			<td>{{ action_button(route.id,route.btn_class,route.status,'profile') }}</td>
			{% endif %}
			
		</tr>
		{% else %}
		{% endfor %}
	</table>
</div>
{{a}}
{{s}}
{% endblock %}
