{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<a id="sent"></a>
<h2>Sent</h2>
<div class="hidden-xs">
	<table class="table">
		<tr>
			<th width="5%">Rating</th>
			<th width="5%">Rope</th>
			<th width="35%">Name</th>
			<th width="10%">Date Set</th>
			<th width="20%">Setter</th>
			<th width="15%">Tape</th>
			{% if session.logged_in %}
			<th width="10%">Actions</th>
			{% endif %}

		</tr>
		{% for route in sent %}
		<tr>
			{% if route.route_type == 'toprope' %}<td>{{ '5.' + route.rating }}</td>{% endif %}
			{% if route.route_type == 'boulder' %}<td> {{route.rating }}</td>{% endif %}
			<td>{{ route.rope }}</td>
			<td>{{ route.name }}</td>
			<td>{{ route.dateSet }}</td>
			<td>{{ route.setter }}</td>
			<td>{{ route.tape_div|safe }}</td>
			{% if session.logged_in %}
			<td>{{ action_button(route.id,route.btn_class,route.status,'profile', route.voted) }}</td>
			{% endif %}

		</tr>
		{% else %}
		{% endfor %}
	</table>
</div>
<div class="visible-xs">
<div class="row">
{% for route in sent %}
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ route.name }}</h3>

		</div>
		<div class="panel-body">
				<p>{{ route.tape_div|safe }}</p>
				<hr>
				<p>Rating: <span class="pull-right">{% if route.route_type == 'toprope' %}{{ '5.' + route.rating }}{% endif %}
			{% if route.route_type == 'boulder' %}{{route.rating }}{% endif %}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
		</div>
		{% if session.logged_in %}
		<div class="panel-footer">
			{{route.status}} <span class="pull-right">{{ action_icon(route.id,route.btn_class,route.status,'home', route.voted) }}</span>
		</div>
		{% endif %}
	</div>
</div>
{% if loop.index is divisibleby 4 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
</div>
<a id="attempted"></a>
<h2>Attempted</h2>
<div class="hidden-xs">
	<table class="table">

		<tr>
			<th width="5%">Rating</th>
			<th width="5%">Rope</th>
			<th width="35%">Name</th>
			<th width="10%">Date Set</th>
			<th width="20%">Setter</th>
			<th width="15%">Tape</th>
			{% if session.logged_in %}
			<th width="10%">Actions</th>
			{% endif %}
		</tr>
		{% for route in attempted %}
		<tr>
			
			
			{% if route.route_type == 'toprope' %}<td>{{ '5.' + route.rating }}</td>{% endif %}
			{% if route.route_type == 'boulder' %}<td> {{route.rating }}</td>{% endif %}
			<td>{{ route.rope }}</td>
			<td>{{ route.name }}</td>
			<td>{{ route.dateSet }}</td>
			<td>{{ route.setter }}</td>
			<td>{{ route.tape_div|safe }}</td>
			{% if session.logged_in %}
			<td>{{ action_button(route.id,route.btn_class,route.status,'profile', route.voted) }}</td>
			{% endif %}
			
		</tr>
		{% else %}
		{% endfor %}
	</table>
</div>
<div class="visible-xs">
<div class="row">
{% for route in attempted %}
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ route.name }}</h3>

		</div>
		<div class="panel-body">
				<p>{{ route.tape_div|safe }}</p>
				<hr>
				<p>Rating: <span class="pull-right">{% if route.route_type == 'toprope' %}{{ '5.' + route.rating }}{% endif %}
			{% if route.route_type == 'boulder' %}{{route.rating }}{% endif %}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
		</div>
		{% if session.logged_in %}
		<div class="panel-footer">
			{{route.status}} <span class="pull-right">{{ action_icon(route.id,route.btn_class,route.status,'home', route.voted) }}</span>
		</div>
		{% endif %}
	</div>
</div>
{% if loop.index is divisibleby 4 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}
{%block scripts %}
if ( $.cookie("scroll") !== null )
    {
      $(document).scrollTop( $.cookie("scroll") );
   }
   $(window).on("scroll", function()
   {
     $.cookie("scroll", $(document).scrollTop() );
   });
{%endblock %}
