{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
{% if topropes %}
<a id="toprope"></a>
<h2>Top Rope</h2>
<div class="tablesorter hidden-xs">
	<table class="table tablesorter" id="table_boulder">
		<thead>
			<tr>
				<th width="5%">Rating</th>
				<th width="5%">Rope</th>
				<th width="35%">Name</th>
				<th width="10%">Date Set</th>
				<th width="20%">Setter</th>
				<th width="15%">Tape</th>
				{% if session.logged_in %}
				<th width="100px">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for route in topropes %}
			<tr>
				<td><span class="r_sort">{{route.sort}}</span>5.{{ route.rating }}</td>
				<td>{{ route.rope }}</td>
				<td>{{ route.name }}</td>
				<td>{{ route.dateSet }}</td>
				<td>{{ route.setter }}</td>
				<td>{{ route.tape_div|safe }}</td>
				{% if session.logged_in %}
				<td>{{ action_button(route.id,route.btn_class,route.status,'home', route.voted) }}</td>
				{% endif %}
			</tr>
			{% else %}
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="visible-xs">
<div class="row">
{% for route in topropes %}
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ route.name }}</h3>
		</div>
		<div class="panel-body">
				<p>Rating: <span class="pull-right">{{ '5.' + route.rating }}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
				<hr>
				<p>{{ route.tape_div|safe }}</p>
		</div>
		{% if session.logged_in %}
		<div class="panel-footer">
			{{ action_button(route.id,route.btn_class,route.status,'home', route.voted) }}
		</div>
		{% endif %}
	</div>
</div>
{% if loop.index is divisibleby 4 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}
{% if boulders %}
<a id="boulder"></a>
<h2>Boulder</h2>

<div class="visible-xs">
<div class="row">
{% for route in boulders %}
<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ route.name }}</h3>
		</div>
		<div class="panel-body">
				<p>Rating: <span class="pull-right">{{route.rating }}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
				<hr>
				<p>{{ route.tape_div|safe }}</p>
		</div>
		{% if session.logged_in %}
		<div class="panel-footer">
			{{ action_button(route.id,route.btn_class,route.status,'home', route.voted) }}
		</div>
		{% endif %}
	</div>
</div>
{% if loop.index is divisibleby 4 %}
</div>
<div class="row">
{% endif %}
{% endfor %}
</div>
</div>


<div class="tablesorter hidden-xs">
	<table class="table tablesorter" id="table_boulder">
		<thead>
			<tr>
				<th width="5%">Rating</th>
				<th width="5%">Rope</th>
				<th width="35%">Name</th>
				<th width="10%">Date Set</th>
				<th width="20%">Setter</th>
				<th width="15%">Tape</th>
				{% if session.logged_in %}
				<th width="100px">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for route in boulders %}
			<tr>
				<td><span class="r_sort">{{route.sort}}</span>{{ route.rating }}</td>
				<td>{{ route.rope }}</td>
				<td>{{ route.name }}</td>
				<td>{{ route.dateSet }}</td>
				<td>{{ route.setter }}</td>
				<td>{{ route.tape_div|safe }}</td>
				{% if session.logged_in %}
				<td>{{ action_button(route.id,route.btn_class,route.status,'home', route.voted) }}</td>
				{% endif %}
			</tr>
			{% else %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
$(document).ready(function() 
{ 
	$("#table_toprope").tablesorter(); 
	$("#table_boulder").tablesorter(); 
} 
); 
if ( $.cookie("scroll") !== null )
{
	$(document).scrollTop( $.cookie("scroll") );
}
$(window).on("scroll", function()
{
	$.cookie("scroll", $(document).scrollTop() );
});
{% endblock %}