{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
{% if topropes %}
<a id="toprope"></a>
<h2>Top Rope <small class="visible-xs">Tap to expand</small></h2>
<div class="tablesorter hidden-xs">
	<table class="table tablesorter" id="table_boulder">
		<thead>
			<tr>
				<th width="5%">Rating</th>
				<th width="5%">Rope</th>
				<th width="35%">Name</th>
				<th width="10%">Date Set</th>
				<th width="20%">Setter</th>
				<th width="15%">Tape</th>
				{% if session.logged_in %}
				<th width="100px">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for route in topropes %}
			<tr>
				<td><span class="r_sort">{{route.sort}}</span>5.{{ route.rating }}</td>
				<td>{{ route.rope }}</td>
				<td>{{ route.name }}</td>
				<td>{{ route.dateSet }}</td>
				<td>{{ route.setter }}</td>
				<td>{{ route.tape_div|safe }}</td>
				{% if session.logged_in %}
				<td>{{ action_button(route.id,route.btn_class,route.status,'home', route.voted) }}</td>
				{% endif %}
			</tr>
			{% else %}
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="visible-xs panel-group" id="topropes">
	{% if session.logged_in %}
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;">
				<i class="fa fa-lg fa-fw green fa-check-circle"></i><small>Send</small>
				<i class="fa fa-lg fa-fw yellow fa-check-circle"></i><small>Attempt</small>
				<i class="fa fa-lg fa-fw red fa-thumbs-o-down"></i><small>Request Removal</small>
				{% if session.is_admin %}
				<br>
				<i class="fa fa-lg fa-fw fa-pencil" style="color: #007fff"></i><small>Edit</small>
				<i class="fa fa-lg fa-fw fa-times red"></i><small>Delete</small>
				{% endif %}
			</div>

		</div>
	</div>
	<br>
	{% endif %}
	{% for route in topropes %}
	<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<a onclick=""data-toggle="collapse" data-parent="#topropes" href="#route_{{route.id}}">
			<h3 class="panel-title" >
					{{ route.name }}
			</h3>
		</a>
		</div>
		<div id="route_{{route.id}}" class="panel-collapse collapse">
			<div class="panel-body">
				<p>{{ route.tape_div|safe }}</p>
				<hr>
				<p>Rating: <span class="pull-right">5.{{route.rating }}</span></p>
				<hr>
				<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
				<hr>
				<p>Date: <span class="pull-right">{{route.dateSet }}</p>
				<hr>
				<p>Setter: <span class="pull-right">{{route.setter }}</p>
				<hr>
			</div>
		</div>
		
		<div class="panel-footer">
			5.{{route.rating}}, Rope {{route.rope}}{% if session.logged_in %}<span class="pull-right">{{ action_icon(route.id,route.btn_class,route.status,'home', route.voted) }}{% endif %}</span>
		</div>
		
	</div>
</div>
{% endfor %}
</div>
{% endif %}
{% if boulders %}
<a id="boulder"></a>
<h2>Boulder <small class="visible-xs">Tap to expand</small></h2>
<div class="visible-xs panel-group" id="boulders">
	{% if session.logged_in %}
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;">
				<i class="fa fa-lg fa-fw green fa-check-circle"></i><small>Send</small>
				<i class="fa fa-lg fa-fw yellow fa-check-circle"></i><small>Attempt</small>
				<i class="fa fa-lg fa-fw red fa-thumbs-o-down"></i><small>Request Removal</small>
				{% if session.is_admin %}
				<br>
				<i class="fa fa-lg fa-fw fa-pencil" style="color: #007fff"></i><small>Edit</small>
				<i class="fa fa-lg fa-fw fa-times red"></i><small>Delete</small>
				{% endif %}
			</div>

		</div>
	</div>
	<br>
	{% endif %}
	{% for route in boulders %}
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#topropes" href="#route_{{route.id}}">
				<h3 class="panel-title">
					{{ route.name }}

				</h3>
			</div>
			<div id="route_{{route.id}}" class="panel-collapse collapse">
				<div class="panel-body">
					<p>{{ route.tape_div|safe }}</p>
					<hr>
					<p>Rating: <span class="pull-right">{{route.rating }}</span></p>
					<hr>
					<p>Rope: <span class="pull-right">{{ route.rope }}</span></p>
					<hr>
					<p>Date: <span class="pull-right">{{route.dateSet }}</p>
					<hr>
					<p>Setter: <span class="pull-right">{{route.setter }}</p>

				</div>
			</div>

			<div class="panel-footer">
				{{route.rating}}, Rope {{route.rope}}{% if session.logged_in %}<span class="pull-right">{{ action_icon(route.id,route.btn_class,route.status,'home', route.voted) }}{% endif %}</span>
			</div>

		</div>
	</div>
	{% endfor %}
</div>


<div class="tablesorter hidden-xs">
	<table class="table tablesorter" id="table_boulder">
		<thead>
			<tr>
				<th width="5%">Rating</th>
				<th width="5%">Rope</th>
				<th width="35%">Name</th>
				<th width="10%">Date Set</th>
				<th width="20%">Setter</th>
				<th width="15%">Tape</th>
				{% if session.logged_in %}
				<th width="100px">Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for route in boulders %}
			<tr>
				<td><span class="r_sort">{{route.sort}}</span>{{ route.rating }}</td>
				<td>{{ route.rope }}</td>
				<td>{{ route.name }}</td>
				<td>{{ route.dateSet }}</td>
				<td>{{ route.setter }}</td>
				<td>{{ route.tape_div|safe }}</td>
				{% if session.logged_in %}
				<td>{{ action_button(route.id,route.btn_class,route.status,'home', route.voted) }}</td>
				{% endif %}
			</tr>
			{% else %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
$(document).ready(function() 
{ 
	$("#table_toprope").tablesorter(); 
	$("#table_boulder").tablesorter(); 
} 
); 
if ( $.cookie("scroll") !== null )
{
	$(document).scrollTop( $.cookie("scroll") );
}
$(window).on("scroll", function()
{
	$.cookie("scroll", $(document).scrollTop() );
});
{% endblock %}